{% extends 'layout.html' %}

{% block main %}
  <header class="header">
    <h1>Albums</h1>
    <form action="/" method="GET">
      <button type="submit">Cerrar Sesión</button>
    </form>
  </header>

  <div class="album-actions">
    <form action="/albums" method="GET">
      <label for="artist_filter">Filtrar por Artista:</label>
      <select name="artist_filter" id="artist_filter">
        <option value="">Todos los artistas</option>
        {% for artist_id, artist_name in artists.items() %}
          <option value="{{ artist_id }}">{{ artist_name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn-primary">Filtrar</button>
    </form>

    <form action="/albums/create" method="GET" style="text-align: right;">
        <button id="create" type="submit" class="btn-primary btn-success">Crear Álbum</button>
    </form>
  </div>

  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Artista</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for album in filtered_albums %}
        <tr>
          <td>{{ album.AlbumId }}</td>
          <td>{{ album.Title }}</td>
          <td>{{ artists.get(album.ArtistId, 'Desconocido') }}</td>
          <td>
            <form action="/albums/update/{{ album.AlbumId }}" method="GET" style="display: inline;">
              <button id="btn-edit" type="submit" class="btn-action">Editar Álbum</button>
            </form>
            <form action="/albums/delete/{{ album.AlbumId }}" method="POST" style="display: inline;">
              <button id="btn-delete" type="submit" class="btn-action">Eliminar Álbum</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
